/* .carousel_section {
  color: #f9fcfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
}*/

.carousel_container {
  display: flex;
  flex-direction: column;
}

.carousel_caption {
  text-align: left;
}

.carouselImage {
  max-width: 50%;
}
