/* .custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
} */

/* .navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #f9fcfb;
  margin-top: 5px;
  text-transform: uppercase;
} */

/* .custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
} */

.Header {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #f9fcfb;
  text-align: center;
  text-transform: uppercase;
}

.navbar-toggler {
  background-position: center;
  color: #ffffff !important;
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../assets/menu.png) !important;
  background-size: 40px;
}
